body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-wrapper {
  width: 900px;
  height: 90vh;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.chat-header {
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.sub-title {
  font-size: 13px;
  font-weight: 400;
  color: #666;
  margin-top: 5px;
}

.chat-container {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}

.input-container {
  display: flex;
  gap: 10px;
  padding: 15px;
  border-top: 1px solid #eee;
  background: #fafafa;
  align-items: center;
}

.chat-input {
  flex: 1;
  padding: 12px 18px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.chat-image {
  max-width: 250px;
  border-radius: 12px;
  margin-top: 8px;
}


.send-btn {
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #6e5dfc, #4b3fdc);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.send-btn:hover {
  opacity: 0.9;
}

.message {
  margin-bottom: 18px;
  padding: 12px 18px;
  border-radius: 18px;
  max-width: 75%;
  width: fit-content; /* THIS fixes stretching */
  line-height: 1.6;
  font-size: 14px;
  word-wrap: break-word;
}


.user {
  background: linear-gradient(135deg, #6e5dfc, #4b3fdc);
  color: white;
  margin-left: auto;
}

.bot {
  background: #f0f2f5;
  color: #333;
}

.message strong {
  font-weight: 600;
}

.message ul {
  padding-left: 20px;
}

.message li {
  margin-bottom: 6px;
}
